{% for employee in page_obj %}
    <tr>
        <td>{{ employee.full_name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.hire_date }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.manager }}</td>
        <td>
          <a href="{% url 'employee_detail' employee.pk %}" class="btn btn-info btn-sm">Перегляд</a>
          <a href="{% url 'employee_update' employee.pk %}" class="btn btn-warning btn-sm">Редагувати</a>
          <form action="{% url 'employee_delete' employee.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Видалити</button>
          </form>
        </td>
    </tr>
{% endfor %}
