{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Employee Hierarchy</h1>
    <ul id="employee-tree" class="list-group">
        {% for employee in root_employees %}
            <li class="list-group-item" data-employee-id="{{ employee.id }}">
                <strong>{{ employee.full_name }}</strong> ({{ employee.position }})
                <ul class="list-group list-group-flush ms-3 subordinates">
                    {% for subordinate in employee.subordinates.all|slice:":2" %}
                        <li class="list-group-item" data-employee-id="{{ subordinate.id }}">
                            <strong>{{ subordinate.full_name }}</strong> ({{ subordinate.position }})
                            <ul class="list-group list-group-flush ms-3 subordinates"></ul>
                            <button class="btn btn-primary btn-sm load-more mt-2" data-employee-id="{{ subordinate.id }}">Load more...</button>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#employee-tree').on('click', '.load-more', function() {
        var loadMoreButton = $(this);
        var employeeId = loadMoreButton.data('employee-id');

        console.log('Employee ID:', employeeId);

        if (employeeId !== undefined) {
            $.ajax({
                url: '/load_subordinates/' + employeeId + '/',
                type: 'GET',
                success: function(data) {
                    loadMoreButton.parent().children('.subordinates').append(data.html);
                    loadMoreButton.remove();
                },
                error: function(xhr, status, error) {
                    console.error('Error loading subordinates:', error);
                }
            });
        } else {
            console.error('Employee ID is undefined.');
        }
    });
});
</script>
{% endblock %}
