{% extends "base.html" %}

{% block content %}
  <h2>Список співробітників</h2>
  <form method="get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Пошук" name="search" value="{{ request.GET.search }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th><a href="?sort_by=full_name">ПІБ</a></th>
        <th><a href="?sort_by=position">Посада</a></th>
        <th><a href="?sort_by=date_of_hire">Дата прийому</a></th>
        <th><a href="?sort_by=email">Email</a></th>
        <th><a href="?sort_by=manager">Менеджер</a></th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in page_obj %}
      <tr>
        <td>{{ employee.full_name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.hire_date }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.manager }}</td>
        <td>
          <a href="{% url 'employee_detail' employee.pk %}" class="btn btn-info btn-sm">Перегляд</a>
          <a href="{% url 'employee_update' employee.pk %}" class="btn btn-warning btn-sm">Редагувати</a>
          <form action="{% url 'employee_delete' employee.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Видалити</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; початок</a>
            <a href="?page={{ page_obj.previous_page_number }}">попередня</a>
        {% endif %}
        <span class="current">
            Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">наступна</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">кінець &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
